.button{
  padding: 8px 12px;
  border: 1px solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  flex: none;
  transition: .3s;
  outline: none;
  &:hover{
    opacity: .85;
  }
  &:disabled{
    cursor: not-allowed;
    opacity: .5;
  }
  &.primary{
    background-color: var(--color-primary-500);
    border-color: var(--color-primary-500);
    color: var(--color-neutrals-0);
  }
  &.primary-inverse{
    background-color: var(--color-neutrals-0);
    border-color: var(--color-neutrals-400);
    color: var(--color-primary-500);
  }
}