.actionButton{
  cursor: pointer;
  transition: .3s;
  &:hover{
    opacity: .85;
  }
  path{
    fill: #656565;
  }
}
.actionButton-wrap{
  display: flex;
  position: absolute;
  right: 0;
  bottom: -18px;
  opacity: 0;
  transition: .3s;
  z-index: 5;
}